<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motorgimbalconsole">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".ConsoleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".flash.FlashFirmware" />
        <activity
            android:name=".MainActivityScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".flights.PlayFlight">
            android:label="@string/play_flight"
        </activity>
        <activity
            android:name=".ConsoleTabStatusActivity"
            android:label="@string/title_activity_console_tab_status"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".config.ConsoleTabConfigActivity"
            android:label="@string/title_activity_console_tab_config"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".connection.SearchBluetooth"
            android:label="@string/select_bluetooth_device"
            android:screenOrientation="portrait" />
        <activity
            android:name=".help.AboutActivity"
            android:label="@string/about_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.AppConfigActivity"
            android:label="@string/titre_application_pref"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetSettingsActivity"
            android:label="@string/reset_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flights.FlightListActivity"
            android:label="@string/Flight_list"
            android:screenOrientation="portrait" />
        <activity android:name=".flights.FlightViewActivity" />
        <activity android:name=".flights.FlightViewMPActivity"
            android:label="@string/flight_view"/>
        <activity android:name=".help.HelpActivity"
            android:label="@string/help_screen" />
    </application>

</manifest>